<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  <div class="row">
    <div class="col-md-9">
      <h1 class="asset-title" id='assetName'>MedicalInfo</h1>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        
        <thead class="thead">
          <tr class="thead-cols">
            <th class="info">Patient Id</th>
            <th class="info">Patient Name</th>
            <th class="info">Medication Id</th>
            <th class="info">Medication</th>
            <th class="info">Allergy</th>
            <th class="info">Referenced Doctor</th>
            <th class="info">Update Visit</th>
          </tr>
        </thead>

        <tbody>
          <ng-container *ngFor="let asset of allAssets" class="table table-hover">
            <tr class="collapsible">
              <td class="asset-properties expand" (click)="expanded[asset.medId]=!expanded[asset.medId]">{{ _.last(_.split(asset.owner, '#')) }}</td>
              <td class="asset-properties">{{ asset.owner }}</td>
              <td class="asset-properties">
                {{ _.capitalize(asset.medId) }}
              </td>
              <td class="asset-properties">{{ _.capitalize(asset.medication) }}</td>
              <td class="asset-properties">{{ asset.allergy }}</td>
              <td class="asset-properties">
                {{ _.capitalize(_.last(asset.pastVisitsArray).doctorName) }}
              </td>
              <td>
                <div class="cssCircle plusSign" id="plus" (click)="updateVisit(asset.medId)" data-toggle="modal" data-target="#addTransactionModal">
                  &#43;
                </div>
              </td>
            </tr>

            <span *ngIf="expanded[asset.medId] && asset.pastVisitsArray">
              <table class="table table-responsive" style="margin-left: 2%; margin-right:2%">
                <thead class="thead">
                  <th class="info">Date</th>
                  <th class="info">Doctor Id</th>
                  <th class="info">Doctor Name</th>
                  <th class="info">Medication</th>
                  <th class="info">Procedure</th>
                </thead>
                <tr *ngFor="let record of asset.pastVisitsArray">
                  <td class="asset-properties">{{ record.visitDate | date : 'short'}}</td>
                  <td class="asset-properties">{{ record.doctorId }}</td>
                  <td class="asset-properties">{{ record.doctorName }}</td>
                  <td class="asset-properties">{{ _.capitalize(record.medicationPrescribed) }}</td>
                  <td class="asset-properties">{{ _.capitalize(record.procedure) }}</td>
                </tr>

                <tr *ngIf="!asset.pastVisitsArray">
                  <a>No data to show!</a>
                </tr>
              </table>
            </span>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</div>