<!-- <div class="modal fade" id="updateAssetModal" tabindex="-1" role="dialog" aria-labelledby="updateAssetModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form [formGroup]="myForm">
        <div class="modal-body">
          <div class="form-group text-left">
            <label for="owner">Patient Id</label>
            <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>
          </div>

           <div class="form-group text-left">
            <label for="owner">Patient Id</label>
            <textarea [ngModel]="owner" formControlName="owner" class="form-control" rows="3"></textarea>
          </div> 

          <div class="form-group text-left">
            <label for="allergy">allergy</label>
            <input [ngModel]="allergy" formControlName="allergy" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="medId">Medicine Id</label>
            <input [ngModel]="medId" formControlName="medId" class="form-control" disabled="disabled">
          </div>

          <div class="form-group text-left">
            <label for="medication">Medication</label>
            <input [ngModel]="medication" formControlName="medication" type="text" class="form-control">
          </div>

          <div class="form-group text-left">
            <label for="pastVisitsArray">pastVisitsArray</label>
            <textarea [ngModel]="pastVisitsArray" formControlName="pastVisitsArray" class="form-control"
              rows="3"></textarea>
          </div> 

          <div class="form-group text-left">
            <label for="permissionedDoctorsId">permissionedDoctorsId</label>
            <input [ngModel]="permissionedDoctorsId" formControlName="permissionedDoctorsId" type="text"
              class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button (click)="updateAsset(myForm)" type="submit" class="btn btn-success"
            data-dismiss="modal">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
    <strong>Error:</strong> {{errorMessage}}
  </div>
  <div class="row">
    <div class="col-md-9">
      <h1 class="asset-title" id='assetName'>MedicalInfo</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
          <tr class="thead-cols">
            <th class="info">Patient Id</th>
            <th class="info">Patient Name</th>
            <th class="info">allergy</th>
            <th class="info">Medication Id</th>
            <th class="info">Medication</th>
            <th class="info">Referenced Doctor</th>
            <!-- <th class="info">pastVisitsArray</th> -->
            <!-- <th class="info">permissionedDoctorsId</th> -->
            <!-- <th class="info-actions">Actions</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let asset of allAssets">
            <tr class="collapsible">
              <td class="asset-properties">{{ _.last(_.split(asset.owner, '#')) }}</td>
              <td class="asset-properties">{{ asset.owner }}</td>
              <td class="asset-properties">{{ asset.allergy }}</td>
              <td class="asset-properties">
                {{ _.capitalize(asset.medId) }}
              </td>
              <td class="asset-properties">{{ _.capitalize(asset.medication) }}</td>
              <td class="asset-properties">
                {{ _.capitalize(_.last(asset.pastVisitsArray).doctorName) }}
              </td>
              <td>
                <div class="cssCircle minusSign" style="padding-top:00px">
                  &#8211;
                </div>
                <div class="cssCircle plusSign" id="plus">
                  &#43;
                </div>
              </td>
            </tr>

            <span *ngIf="asset.pastVisitsArray" class="content">
              <table class="table table-responsive">
                <thead class="thead">
                  <th class="info">Date</th>
                  <th class="info">Doctor Id</th>
                  <th class="info">Doctor Name</th>
                  <th class="info">Medication</th>
                  <th class="info">Procedure</th>
                </thead>
                <tr *ngFor="let record of asset.pastVisitsArray">
                  <td class="asset-properties">{{ record.visitDate }}</td>
                  <td class="asset-properties">{{ record.doctorId }}</td>
                  <td class="asset-properties">{{ record.doctorName }}</td>
                  <td class="asset-properties">{{ _.capitalize(record.medicationPrescribed) }}</td>
                  <td class="asset-properties">{{ _.capitalize(record.procedure) }}</td>
                </tr>
              
                <tr ng-show="!asset.pastVisitsArray">
                  <a>No data to show!</a>
                </tr>
              </table>
            </span>

          </ng-container>
        </tbody>
      </table>
    </div>
  </div>

</div>