<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1 class="participant-title" id='participantName'>Patient</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <thead class="thead">
          <tr class="thead-cols">
            <th class="info">patientId</th>
            <th class="info">firstName</th>
            <th class="info">lastName</th>
            <th class="info">age</th>
            <th class="info">address</th>
            <th class="info">phNo</th>
            <th class="info-actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let participant of allParticipants">
            <td class="participant-properties">{{participant.patientId}}</td>
            <td class="participant-properties">{{participant.firstName}}</td>
            <td class="participant-properties">{{participant.lastName}}</td>
            <td class="participant-properties">{{participant.age}}</td>
            <td class="participant-properties">{{participant.address}}</td>
            <td class="participant-properties">{{participant.phNo}}</td>
            <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>