<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="network-name">healthcare@0.0.12.bna</p>
      <p class="navbar-brand">healthcare-app</p>
    </div>

    <section *ngIf="!authenticated">
      <a href="http://localhost:3000/auth/github">Sign in with github</a>
    </section>

    <section *ngIf="authenticated && !loggedIn">
      <h2>Sign up</h2>
      <form #signupForm="ngForm">
        <table>
          <colgroup>
            <col span="1" style="width: 11%;">
            <col span="1" style="width: 89%;">
          </colgroup>
          <tr>
            <td>
              <label>ID</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.id" #id="ngModel" name="id">
            </td>
          </tr>
          <tr>
            <td>
              <label>First Name</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.firstName" #firstName="ngModel" name="firstName">
            </td>
          </tr>
          <tr>
            <td>
              <label>Last name</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.lastName" #lastname="ngModel" name="lastname">
            </td>
          </tr>
          <tr>
            <td>
              <label>Ph No</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.phNo" #phno="ngModel" name="phNo">
            </td>
          </tr>
          <tr>
            <td>
              <label>Specialist(doctor)</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.specialist" #specialist="ngModel" name="specialist">
            </td>
          </tr>
          <tr>
            <td>
              <label>Work Experience(doctor)</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.workExp" #workexp="ngModel" name="workExp">
            </td>
          </tr>
          <tr>
            <td>
              <label>Hospital(doctor)</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.hospital" #hospital="ngModel" name="hospital">
            </td>
          </tr>
          <tr>
            <td>
              <label>Age(patient)</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.age" #age="ngModel" name="age">
            </td>
          </tr>
          <tr>
            <td>
              <label>Address(patient)</label>
            </td>
            <td>
              <input type="text" [(ngModel)]="signUp.address" #address="ngModel" name="address">
            </td>
          </tr>
          

        </table>
        <button (click)="onSignUpDoctor()" type="submit" class="primary">
          <div *ngIf="!signUpInProgress">
            <span>Sign up Doctor</span>
          </div>
          <div *ngIf="signUpInProgress" class="ibm-spinner-indeterminate small loop">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="circle-path" cx="50" cy="50" r="20" />
              </svg>
            </div>
          </div>
        </button>

        <button (click)="onSignUpPatient()" type="submit" class="primary">
          <div *ngIf="!signUpInProgress">
            <span>Sign up Patient</span>
          </div>
          <div *ngIf="signUpInProgress" class="ibm-spinner-indeterminate small loop">
            <div class="loader">
              <svg class="circular" viewBox="25 25 50 50">
                <circle class="circle-path" cx="50" cy="50" r="20" />
              </svg>
            </div>
          </div>
        </button>

      </form>
    </section>

    <section *ngIf="loggedIn">
      <ul class="nav navbar-nav">
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Assets</a>
          <ul class="dropdown-menu scrollable-menu">

            <li><a [routerLink]="['/MedicalInfo']">MedicalInfo</a></li>

          </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Participants</a>
          <ul class="dropdown-menu scrollable-menu">

            <li><a [routerLink]="['/Doctor']">Doctor</a></li>

            <li><a [routerLink]="['/Patient']">Patient</a></li>

          </ul>
        </li>
        <li class="dropdown active">
          <a class="dropdown-toggle" data-toggle="dropdown">Transactions</a>
          <ul class="dropdown-menu scrollable-menu">

            <li><a [routerLink]="['/UpdateVisit']">UpdateVisit</a></li>

            <li><a [routerLink]="['/GivePermission']">GivePermission</a></li>

            <li><a [routerLink]="['/RevokePermission']">RevokePermission</a></li>

          </ul>
        </li>
      </ul>
    </section>
  </div>
</nav>

<router-outlet></router-outlet>